body {
  background-color: black;
  background-repeat: repeat;
  color: white;
  font-family: "Poller One", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}